{% extends "layout.html" %}
{% block body %}

<div class="block1">
    <h1 style="text-align: center;">AWS Projects!!</h1>
    <h1>Here are the AWS projects we did.</h1>
    <BR>
    <h2 style="text-align: center;">1. Automated CI/CD Pipeline using AWS, Jenkins, S3 and EC2 instances</h2>

    &nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png"
        width="527" height="277" />
</div>
<p>{% endblock %}</p>